<!DOCTYPE html>
<html lang="es">

<head>
    <meta content="text/html;" http-equiv="content-type" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
    <title>Dashboard</title>
</head>

<body>
    <%- include('nav', {tipo: usuario.tipoUsuario }); %>
    <div class="section"></div>

    <div class="container">
        <div class="row">
            <div class="col s12 l3">
                <img class="responsive-img hide-on-med-and-down" width="100%" src="/img/slide.png">
            </div>
            <div class="col s12 l9">
                <ul class="tabs row">
                    <li class="tab col s3"><a class="darken-1 teal-text" href="#test1">Información</a></li>
                </ul>
                <div id="test1" class="col s12 ">
                    <div id ="info" class="row">
                        <span>
                            <h6><div class="col s6">Nombre: </div><span class="col s6 darken-1 teal-text"><%= usuario.nombre %></span></h6>
                        </span>
                        <span>
                            <h6><div class="col s6">Apellido: </div><span class="col s6 darken-1 teal-text"><%= usuario.apellido %></span></h6>
                        </span>
                        <span>
                            <h6><div class="col s6">Correo: </div><span class="col s6 darken-1 teal-text"><%= usuario.correo %></span></h6>
                        </span>
                        <span>
                            <h6><div class="col s6">Dirección: </div><span class="col s6 darken-1 teal-text"><%= usuario.direccion %></span></h6>
                        </span>
                        <span>
                            <h6><div class="col s6">Telefono: </div><span class="col s6 darken-1 teal-text"><%= usuario.telefono %></span></h6>
                        </span>
                        <span>
                            <h6><div class="col s6">Documento: </div><span class="col s6 darken-1 teal-text"><%= usuario.documento %></span></h6>
                        </span>
                        <span>
                            <h6><div class="col s6">Tipo: </div><span class="col s6 darken-1 teal-text"><%= usuario.tipoUsuario.nombre %></span></h6>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

            <script type="text/javascript" src="/js/jquery.min.js"></script>
            <script type="text/javascript" src="/js/materialize.min.js"></script>
            <script type="text/javascript" src="/js/dashboard.js"></script>

</body>

</html>