<!DOCTYPE html>
<html lang="es">

<head>
    <meta content="text/html;" http-equiv="content-type" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
    <link rel="stylesheet" type="text/css" href="/css/estudiante.css">
    <title>Dashboard</title>
</head>
<body>
    <%- include('nav', {tipo: usuario.tipoUsuario }); %>
    <div class="section"></div>
    <div class="container">
        <div class="row">
            <div class="col s12 l3">
                <img class="responsive-img hide-on-med-and-down" width="100%" src="/img/slide.png">
            </div>
            <div class="col s12 l9">
                <ul class="tabs row">
                    <li class="tab col s3"><a class="darken-1 teal-text" href="#test1">Información</a></li>
                    <li class="tab col s3"><a class="darken-1 teal-text" href="#test2">Observaciones</a></li>
                    <li class="tab col s3"><a class="darken-1 teal-text" href="#test3">Reportes</a></li>
                </ul>
                <div id="test1" class="col s12 ">
                    <div id="info" class="row">
                        <span>
                            <h6>
                                <div class="col s6">Nombre: </div><span
                                    class="col s6 darken-1 teal-text"><%= estudiante.nombre %></span>
                            </h6>
                        </span>
                        <span>
                            <h6>
                                <div class="col s6">Apellido: </div><span
                                    class="col s6 darken-1 teal-text"><%= estudiante.apellido %></span>
                            </h6>
                        </span>
                    </div>
                </div>
                <div id="test2" class="col s12 ">
                    <table class="highlight responsive-table">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Descripción</th>
                                <th>Tipo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i = 0; i < observaciones.length; i++) { %>
                                <tr name="<%= observaciones[i].idobservacion %>">
                                    <td><%= observaciones[i].fecha %></td>
                                    <td><%= observaciones[i].descripcion %></td>
                                    <td><%= observaciones[i].nombreObs %></td>
                                </tr>
                            <% } %>

                        <tbody>
                    </table>
                    <div class="section"></div>
                    <div class="right">
                        <a href="#modal1" class="modal-trigger btn-large waves-effect waves-light red"><i
                                class="material-icons">add</i></a>
                    </div>
                </div>
                <div id="test3" class="col s12 ">
                    <table class="highlight responsive-table">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Tipo</th>
                            </tr>
                        </thead>
                        <tbody id ="report">
                            <% for(var i = 0; i < reportes.length; i++) { %>
                                <tr name="<%= reportes[i].idreporte %>">
                                    <td><%= reportes[i].fecha.toDateString() %></td>
                                </tr>
                            <% } %>
                        <tbody>
                    </table>
                    <div class="section"></div>
                    <div class="right">
                        <a id="reporte" href="#modal2" class="modal-trigger btn-large waves-effect waves-light red"><i
                                class="material-icons">add</i></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="modal2" class="modal">
            <div class="modal-content">
                <h4>Agregar reporte</h4>
                <% for(var i = 0; i < tipoReporte.length; i++) { %>
                    <p>
                        <label>
                            <input value="<%= tipoReporte[i].idtipo_repote %>" name="tipoReporte" type="radio" <% if(i == 0){ %>checked <% } %> />
                            <span><%= tipoReporte[i].reporte %></span>
                        </label>
                    </p>
                <% } %> 
                <table>
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Descripción</th>
                            <th>Tipo</th>
                        </tr>
                    </thead>
                    <tbody id = "reportes">

                    <tbody>
                </table>
            </div>
            <div class="modal-footer">
                <a href="#!" id="enviarReporte" class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
            </div>
        </div>    
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4>Agregar observación</h4>
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="col s12">
                                <label for="fecha">Escriba la fecha</label>
                                <input id="fecha" type="date">  
                            </div>
                            <div class="col s6">
                                <% for(var i = 0; i < tipoObs.length; i++) { %>
                                    <p>
                                        <label>
                                            <input value="<%= tipoObs[i].id_observacion %>" name="tipo" type="radio" <% if(i == 0){ %>checked <% } %> />
                                            <span><%= tipoObs[i].observacion %></span>
                                        </label>
                                    </p>
                                <% } %>
                            </div>
                            <div class="col s6">
                                <% for(var i = 0; i < tipoVision.length; i++) { %>
                                    <p>
                                        <label>
                                            <input value="<%= tipoVision[i].idvision %>" name="visiblidad" type="radio" <% if(i == 0){ %>checked <% } %> />
                                            <span><%= tipoVision[i].nivel %></span>
                                        </label>
                                    </p>
                                <% } %>
                            </div>
                            <div class="input-field col s12">
                                <textarea id="observacion" class="materialize-textarea"></textarea>
                                <label for="observacion">Observación</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#!" id="enviar" class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/materialize.min.js"></script>
    <script type="text/javascript" src="/js/estudiante.js"></script>

</body>

</html>